{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
<head>
    {% block title %}
        Blog
    {% endblock title %}

    {% block head %}
        <link rel="stylesheet" href="{% static 'css/styles-index.css' %}">
    {% endblock %}
</head>

{% block content %}
    <div class="container">
        <div class="blog">
            <h1>{{ post.title }}</h1>
            <small>{{ post.author }}</small>
            <p>{{ post.body|safe }}</p>
        </div>
    </div>
    <hr>
    {{ form.media}}
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Comments
        </button>
    </p>
    <div class="collapse mx-3 my-sm-5" id="collapseExample">
        <div class="card card-body">
            {% for comment in post.comments.all %}
                <strong>{{comment.author}}</strong>
                <small>{{comment.date_created}}</small>
                <p>{{comment.body|safe}}</p>
            {% empty %}
                <h3>No comments here :(</h3>
            {% endfor %}
            <hr>
        </div>

        
    </div>

    
{% endblock content %}