{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<head>
    {% block title %}
        Blog | Delete Post
    {% endblock title %}

    {% block head %}
        <link rel="stylesheet" href="{% static 'css/styles-register.css' %}">
    {% endblock head %}
</head>

{% block content %}
    <div class="container mb-6">
        <form action="" method="POST" class="form-group">
            <h1>Are you sure you want to delete ?</h1>
            {% csrf_token %}
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'home' %}" class="btn btn-outline-primary">Cancel</a>
        </form>
    </div>
    
{% endblock content %}