{% extends "base.html" %}

{% load static %}

<head>
    {% block title %}
        Blog
    {% endblock title %}

    {% block head %}
        <link rel="stylesheet" href="{% static 'css/styles-index.css' %}">
    {% endblock %}
</head>

{% block content %}
    <div class="container">

        {% for post in posts %}
            <div class="blog shadow-sm p-3 mb-5 bg-white">
                <h1>{{ post.title }}</h1>
                <strong> <p>{{ post.author }}</p></strong>
                <small>{{ post.date_created }}</small>
                <p>{{ post.body|safe|truncatewords:40 }}</p>
                
                <a href="{% url 'post_detail' post.id  %}" class="btn btn-outline-primary">View More</a>
               
                </div>

            
        {% endfor %}

    </div>
{% endblock content %}