{% extends "base.html" %}

{% load static %}

<head>
    {% block title %}
        Blog
    {% endblock title %}

    {% block head %}
        <link rel="stylesheet" href="{% static 'css/styles-index.css' %}">
    {% endblock %}
</head>

{% block content %}
    <div class="container">

        {% for post in posts %}
            <div class="blog shadow-sm p-3 mb-5 bg-white">
                <h1>{{ post.title }}</h1>
                <small>{{ post.author }}</small>
                <p>{{ post.content }}</p>
            </div>
        {% endfor %}

    </div>
{% endblock content %}