{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<head>
    {% block title %}
        Blog | Update
    {% endblock title %}

    {% block head %}
        <link rel="stylesheet" href="{% static 'css/styles-register.css' %}">
    {% endblock head %}
</head>

{% block content %}
    <div class="container mb-6">
        
        <form action="" method="POST" enctype="multipart/form-data" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <img src={{ request.user.profile.image.url }} class="img-thumbnail" alt="">
            {{ profile|crispy }}
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
    
{% endblock content %}